@page
@model IndexModel
@{
	ViewData["Title"] = "NetMQPubSub Web App";
}

<form method="post">
	<div class="form-group">
		<label asp-for="@Model.Message">Job Message</label>
		<textarea id="input-custom-sql" asp-for="@Model.Message" class="form-control require-if-custom" rows="4"></textarea>
		<span asp-validation-for="Message" class="text-danger"></span>
	</div>

	<div class="mt-3">
		<button type="submit" asp-page-handler="SendMessage" class="btn btn-primary">Create Job</button>
		<span class="d-block">(view log output for details)</span>
	</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}